<template>
  <div class="ac-remote">
    <!-- Click the image to turn off AC -->
    <img
      class="btn"
      :class="on_off_state"
      @click="turn_off_ac"
      alt="Air Conditioner Sketch"
      src="../assets/ac.png"
      width="192"
    />
    <p>
      <button
        class="btn set-btn"
        @click="set_state"
      >Set: {{mode_name}}-{{fanSpeed_name}}-{{temperature_name}}</button>
    </p>

    <!-- Change mode -->
    <SwitchButton btntype="mode-btn" text="Mode" @click="change_mode" />

    <!-- Select fanSpeed -->
    <SwitchButton btntype="fanSpeed-btn" text="fanSpeed" @click="change_fanSpeed" />

    <!-- Select temperature -->
    <SwitchButton btntype="temperature-btn" text="Temperature" @click="change_temperature" />
  </div>
</template>

<script>
import SwitchButton from "./SwitchButton.vue"

export default {
  name: "ACRemote",
  data() {
    return {
      on: true,
      mode: {
        key: 1,
        values: [
          "cold",
          "warm"
        ],
        names: [
          "Cold",
          "Warm"
        ]
      },
      fanSpeed: {
        key: 0,
        values: [
          "auto",
          "silent",
          "low",
          "medium",
          "high"
        ],
        names: [
          "Auto",
          "Silent",
          "Low",
          "Medium",
          "High"
        ]
      },
      temperature: {
        key: 2,
        values: [
          17,
          20,
          24,
          26,
          27,
          28
        ],
        names: [
          17,
          20,
          24,
          26,
          27,
          28
        ]
      }
    };
  },
  methods: {
    set_state() {
      let mode_value = this.mode.values[this.mode.key];
      let fanSpeed_value = this.fanSpeed.values[this.fanSpeed.key];
      let temperature_value = this.temperature.values[this.temperature.key];
      let postdata = {
        on: true,
        state: {
          mode: mode_value,
          fanSpeed: fanSpeed_value,
          temperature: temperature_value
        }
      };
      fetch("", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(postdata)
      });
      this.on = true;
    },
    change_mode() {
      this.mode.key = (this.mode.key + 1) % this.mode.names.length;
    },
    change_fanSpeed() {
      this.fanSpeed.key = (this.fanSpeed.key + 1) % this.fanSpeed.names.length;
    },
    change_temperature() {
      this.temperature.key = (this.temperature.key + 1) % this.temperature.names.length;
    },
    turn_off_ac() {
      let postdata = {
        on: false
      };
      fetch("", {
        method: "POST",
        headers: {
          "Content-Type": "application/json"
        },
        body: JSON.stringify(postdata)
      });
      this.on = false;
    }
  },
  computed: {
    mode_name() {
      return this.mode.names[this.mode.key];
    },
    fanSpeed_name() {
      return this.fanSpeed.names[this.fanSpeed.key];
    },
    temperature_name() {
      return this.temperature.names[this.temperature.key];
    },
    on_off_state() {
      return this.on ? "on" : "off";
    }
  },
  components: {
    SwitchButton: SwitchButton
  }
}
</script>

<style>
.state {
  font-family: Helvetica;
}
.btn {
  font-family: "Space Mono", ui-monospace, monospace;
  font-size: 16px;
  border: none;
  padding: 10px 10px;
  display: inline-block;
  margin: 2px;
  cursor: pointer;
  width: 128px;
  border-radius: 999px;
  transition: 400ms;
  transition-duration: 400ms;
}
.btn:hover {
  filter: brightness(70%);
}
.mode-btn {
  background-color: #ee9933;
}
.fanSpeed-btn {
  background-color: #77cc11;
}
.temperature-btn {
  background-color: #55ffbb;
}
.set-btn {
  width: 224px;
  padding: 20px 20px;
  background-color: #22587b;
  color: white;
}
.off-btn {
  width: 96px;
  background-color: red;
  color: white;
}
.off {
  filter: grayscale(100%);
  cursor: not-allowed;
}
.off:hover {
  filter: grayscale(100%) brightness(70%);
}
</style>
