<template>
  <p>
    <button class="btn" :class="btntype">{{text}}</button>
  </p>
</template>

<script>
export default {
  name: "SwitchButton",
  props: {
    btntype: String,
    text: String
  }
}
</script>
