<template>
  <ACRemote />
</template>

<script>
import ACRemote from "./components/ACRemote.vue"

export default {
  name: 'App',
  components: {
    ACRemote
  }
}
</script>

<style>
* {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  touch-action: manipulation;
}
html,
body {
  overflow: hidden;
  user-select: none;
}
body {
  position: relative;
  background: #356896;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
}
</style>
